.nav-menu{
  display: flex;
  justify-content: space-around;
  background-color: rgba(197,52,69,0.8);
  font-size: 35px;
  font-family: 'Metal Mania';
  padding: 15px;
}
.nav-menu a{
  color: white;
  text-decoration: none;
  padding: 15px;

}
.active-page{
  border-bottom: 5px solid white;

}
