<nav [ngClass]="['nav-menu']">
  <a [routerLink]="['/home']" [routerLinkActive]="['active-page']">
    Home
  </a>
  <a [routerLink]="['/queen']" [routerLinkActive]="['active-page']">
    Queen
  </a>
  <a [routerLink]="['/the-rolling-stones']" [routerLinkActive]="['active-page']">
    The Rolling Stones
  </a>
  <a [routerLink]="['/the-beatles']" [routerLinkActive]="['active-page']">
    The Beatles
  </a>
  <a [routerLink]="['/foo']" [routerLinkActive]="['active-page']">
    Foo
  </a>
  <a [routerLink]="['/bar']" [routerLinkActive]="['active-page']">
    Bar
  </a>
</nav>
