*{
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: black;
}

font-family: 'Metal Mania', cursive;
font-family: 'Roboto', sans-serif;/* You can add global styles to this file, and also import other style files */
