<div>
  <header></header>
  <div>
    <h1 [ngClass]="['principal-title']">{{title}}</h1>
  </div>
  <div [ngClass]="['container']">

      <img [ngClass]="['home-image']" src="../../assets/Metallica.jpg" alt="">
    

      <img [ngClass]="['home-image']" src="../../assets/dios-salve-a-la-reina.jpg" alt="">
    

      <img [ngClass]="['home-image']" src="../../assets/soad.jpg" alt="">
    

      <img [ngClass]="['home-image']" src="../../assets/rock.jpg" alt="">
    


  </div>
</div>
